[Unit]
Description=ComputeBlade Agent
Documentation=https://github.com/uptime-induestries/compute-blade-agent
After=network.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/computeblade-agent
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
